.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  button {
    padding: 8px 16px;
    border: none;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 500;
    color: lightgray;
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}
