@font-face {
  font-family: "Degular Medium";
  src: url("/Degular-Medium.1d52003d.woff2");
}
* {
  font-family: "Degular Medium";
  color: #616060;
  background: transparent;
}
body {
  padding: 32px;
  font-size: 17px;
}
