@font-face {
  font-family: "Recoletta Medium";
  src: url("./assets/fonts/Recoleta-Medium.woff2");
}
@font-face {
  font-family: "Recoletta Regular";
  src: url("./assets/fonts/RecoletaAlt-Regular.woff2");
}
@font-face {
  font-family: "Recoletta Bold";
  src: url("./assets/fonts/Recoleta-Bold.woff2");
}
@font-face {
  font-family: "Degular Medium";
  src: url("./assets/fonts/Degular-Medium.1d52003d.woff2");
}
$light_bg: #f9fafc;
$light_accent: #fff;
$light_primary_color: #2f2f2f;
$light_secondary_color: #616060;
$border_light: #f1f5f9;

$dark_bg: rgb(22, 22, 22);
$dark_accent: #191919;
$dark_primary_color: #eee;
$dark_secondary_color: #888;
$border_dark: rgb(40, 40, 40);
.light-theme {
  --bg: #{$light_bg};
  --accent: #{$light_accent};
  --primary-color: #{$light_primary_color};
  --secondary-color: #{$light_secondary_color};
  --border: #{$border_light};
}

.dark-theme {
  --bg: #{$dark_bg};
  --accent: #{$dark_accent};
  --primary-color: #{$dark_primary_color};
  --secondary-color: #{$dark_secondary_color};
  --border: #{$border_dark};
}

.App {
  background-color: var(--bg);
  color: var(--secondary-color);
  min-height: 100vh;
}

body {
  font-size: 17px;
  line-height: 1.3;
}
* {
  font-family: "Degular Medium", sans-serif;
  margin: 0;
  padding: 0;
  transition: 20ms ease-in-out;
}
.ico {
  height: 24px;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 25px;
  background-color: var(--accent);
  margin-bottom: 8px;
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    img {
      height: 24px;
      background: var(--bg);
      border: 2px solid var(--accent);
      border-radius: 100%;
      padding: 5px;
    }
    h1 {
      font-family: "Recoletta Bold";
      font-size: 20px;
      color: var(--primary-color);
    }
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  margin-bottom: 16px;
  span {
    font-size: larger;
    color: var(--primary-color);
  }
  button {
    padding: 8px 16px;
    border: none;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 500;
  }
}
.tab {
  background: var(--accent);
  max-width: 92%;
  margin: 0 auto;
  overflow: auto;
  padding: 10px 25px;
  border-radius: 20px;
  margin-bottom: 32px;
  // border: 1px solid var(--border);
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: transparent;
  color: var(--secondary-color);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  margin-right: 16px;
  border-radius: 40px;
  font-size: 14px;
  text-transform: capitalize;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--bg);
  color: var(--secondary-color);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--border);
  color: #fff;
}
.card-container {
  padding: 30px 20px;
  .date-heading {
    position: relative;
    left: 30px;
    font-size: 12px;
    margin-bottom: 30px;
    text-align: center;
  }
  .container {
    display: flex;
    gap: 20px;
  }
  .card {
    padding: 20px;
    border-radius: 10px;
    transition: 200ms;
    max-width: 350px;
    border: 1px solid var(--border);
    cursor: pointer;
    margin-bottom: 20px;
    .tag {
      font-size: 10px;
      font-weight: 600;
      padding: 4px 10px;
      border-radius: 20px;
      margin-bottom: 16px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: var(--primary-color);
      gap: 4px;
    }
    .name {
      //font-family: "Recoletta Bold";
      font-size: 18px;
      margin-bottom: 8px;
      color: var(--primary-color);
    }
    .content {
      //font-family: "Recoletta Medium";
      margin-bottom: 16px;
      font-size: 15px;
    }
    .time {
      font-size: 10px;
      // font-family: "Recoletta Regular";
      text-align: right;
      font-weight: 500;
    }
    &:hover {
      transform: scale(1.01);
    }
  }
}
