@font-face {
  font-family: "Recoletta Medium";
  src: url("./assets/fonts/Recoleta-Medium.woff2");
}
@font-face {
  font-family: "Recoletta Regular";
  src: url("./assets/fonts/RecoletaAlt-Regular.woff2");
}
@font-face {
  font-family: "Recoletta Bold";
  src: url("./assets/fonts/Recoleta-Bold.woff2");
}
@font-face {
  font-family: "Degular Medium";
  src: url("./assets/fonts/Degular-Medium.1d52003d.woff2");
}
body {
  font-size: 17px;
  line-height: 1.3;
  background: rgb(22, 22, 22);
  background-repeat: repeat;
  color: #888;
}
* {
  font-family: "Degular Medium", sans-serif;
  margin: 0;
  padding: 0;
  transition: 20ms ease-in-out;
}
.ico {
  height: 24px;
}
.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 25px;
  background-color: rgb(28, 28, 28);
  margin-bottom: 8px;
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    img {
      height: 24px;
      background: rgb(22, 22, 22);
      border-radius: 100%;
      padding: 10px;
    }
    h1 {
      font-family: "Recoletta Bold";
      font-size: 20px;
      color: #888;
    }
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  margin-bottom: 16px;
  button {
    padding: 8px 16px;
    border: none;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 500;
  }
}
.tab {
  overflow: hidden;
  padding: 10px 25px;
  border-radius: 20px;
  margin-bottom: 32px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: transparent;
  color: #888;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  margin-right: 16px;
  border-radius: 40px;
  font-size: 14px;
  text-transform: capitalize;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(40, 40, 40);
  color: #fff;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(40, 40, 40);
  color: #fff;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 15px;
  flex-wrap: wrap;
  .card {
    padding: 20px;
    background: rgb(40, 40, 40);
    border-radius: 10px;
    transition: 200ms;
    max-width: 350px;
    border: 1px solid rgb(40, 40, 40);
    .tag {
      font-size: 10px;
      font-weight: 600;
      padding: 4px 10px;
      border-radius: 20px;
      color: #eee;
      margin-bottom: 16px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: rgb(40, 40, 40);
      gap: 4px;
    }
    .name {
      //font-family: "Recoletta Bold";
      font-size: 20px;
      margin-bottom: 8px;
      color: #eee;
    }
    .content {
      //font-family: "Recoletta Medium";
      margin-bottom: 16px;
      font-size: 16px;
    }
    .time {
      font-size: 10px;
      // font-family: "Recoletta Regular";
      text-align: right;
    }
    &:hover {
      transform: scale(1.03);
    }
  }
}
